<!-- -*-xml-*-
     Simulation.
  -->
<launch>
  <!-- Launch dynamics simulator -->
  <node pkg="openhrp"
	type="openhrp-aist-dynamics-simulator"
	name="openhrp_aist_dynamics_simulator"
	respawn="true"
	/>

  <!-- Launch collision detector -->
  <node pkg="openhrp"
	type="openhrp-collision-detector"
	name="openhrp_collision_detector"
	respawn="true"
	/>

  <!-- Launch model loader -->
  <node pkg="openhrp"
	type="openhrp-model-loader"
	name="openhrp_model_loader"
	respawn="true"
	/>
</launch>
